* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

section.head {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    background-image: url(https://historia.nationalgeographic.com.es/medio/2020/11/25/ada-lovelace-portrait_8c43f25b_1200x630.jpg);
}

.head1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

h1 {
    font-size: 8rem;
    text-shadow: 2px 2px #0000;
    font-family: Merriweather, serif;
}