/* GENERAL SETTINGS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #000000;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px;
}

:root {
    --greyblue: #ffffff;
    --medium-blue: rgb(214, 194, 168);
    --byzantine-blue: rgb(191, 227, 155);
    --french-blue: rgb(181, 150, 113);
    --celestial-blue: rgb(164, 129, 96);
    --sky-blue: rgb(235, 239, 114);
    --columbia-blue: rgb(253, 243, 194);
    --white: #ffffffff;
    --navcolor: #7e653365;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.content {
    padding: 3rem;
}

.content h3 {
    font-size: 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab';
    margin: 3rem;
    text-align: center;
}


.content h3::after {
    content: '';
    display: block;
    height: 7px;
    z-index: -1;
    position: relative;
    width: 80%;
    border-radius: 10px;
    background: #752912;

}

.containerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 400vh;
    padding: 20px;
}

.txt {
    width: 49vw;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
    padding: 4rem;
}

.txt p {
    width: 30vw;
    height: 50vh;
    text-align: center;
    display: flex;
    font-size: 2rem;
    filter: drop-shadow(-10px 0px 20px #000);
    align-items: center;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.txt img {
    height: 50vh;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    filter: drop-shadow(-10px 0px 20px #000);
}

.circle {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(0, 15, 255, 1) 11%, rgba(61, 210, 255, 1) 100%);
    border: 5px solid var(--greyblue);
}

.line {
    width: 0.1vw;
    height: 100%;
    filter: drop-shadow(0px 0px 10px #fff);
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 100%;
}

.images p {
    width: 30vw;
    height: 55vh;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.images img {
    height: 50vh;
    filter: drop-shadow(-10px 0px 20px #000);
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

hr {
    position: relative;
    left: 15vw;
    width: 70vw;
}

/* N
h2 {
    padding: 40px;
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
}

h3 {
    font-style: italic;
    padding: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
}

/*........................................................................................................................................................................................................................................... */

/* ANIMATION GENERALS */

@keyframes flecha {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}



@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    99% {
        transform: translateY(0px);
    }
}

@keyframes neon {
    0% {
        opacity: 0;
        text-shadow: none;
    }

    10% {
        opacity: 1;
        text-shadow: 0px 0px 16px#fff;
    }

    20% {
        opacity: 0;
        text-shadow: none;
    }

    30% {
        opacity: 1;
        text-shadow: 0px 0px 16px#fff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    70% {
        opacity: 1;
        text-shadow: 0px 0px 16px#fff;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
        text-shadow: 0px 0px 10pxvar (--french-blue);
    }

    20% {
        transform: translateY(-12rem);
        color: var(--byzantine-blue);
        text-shadow: 0px 0px 10px var(--byzantine-blue);
    }

    40% {
        transform: translateY(-24rem);
        color: rgb(110, 68, 237);
        text-shadow: 0px 0px 10px var(--medium-blue);
    }

    60% {
        transform: translateY(-36rem);
        color: var(--white);
        text-shadow: 0px 0px 10px var(--sky-blue);
    }

    80% {
        transform: translateY(-48rem);
    }

    100% {
        transform: translateY(0px);
    }
}

body {
    -color: var(--greyblue);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ................_____________________________------------------- */

/* ESTILOS DE LOGO - NAV */

nav {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11111110;
    transition: all 1s;
}

.sticky {
    background-color: var(--navcolor);
    backdrop-filter: blur(10px);
    z-index: 11111110;
    padding: 5px;
    border-radius: 0 0 20px 20px;
}

#LOGO-DALU {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

#logo-svg {
    height: 50px;
    width: 50px;
    filter: invert(100%) drop-shadow(0px 3px 3px #000);
    backdrop-filter: drop-shadow(10px);
}

#logo-name {
    font-family: "  font-family: " Roboto Slab", serif;";
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0px 3px 3px #000;
}

#links-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 5vw;
    padding: 10px;
}

#links-list li a {
    font-size: 1.3rem;
    transition: 0.8s;
}

#links-list li a:hover {
    color: var(--celestial-blue);
}

/* ---------        ----------- */

/* ESTILOS DE HEADER */

#logoname- {
    font-family: "  font-family: " Roboto Slab", serif;";
    color: var(--medium-blue);
    font-size: 10rem;
    font-weight: 900;
    text-shadow: 10px 10px 10px #ffffff97;
}

header {
    background-image: url(img/198e75db-9d02-452a-bd65-86fb96dd86cb.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
}

#logo-slogan {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.header-logo {
    font-weight: 700;
    color: #ffffff;
    font-size: 10rem;
}

#translatexy {
    transform: translateX(-100px) translateY(-20px);
}

#btn-start {
    text-align: center;
    border: solid 2px var(--white);
    background-color: transparent;
    width: 210px;
    padding: 15px;
    border-radius: 50px;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
}

#more {
    color: #ffffff;
}

.btn-scroll:hover #more {
    animation: flecha 0.8s infinite ease-in-out;
    color: #ffffff;
}

.btn-scroll {
    position: relative;
    width: 210px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100px);
    color: #ffffffff;
}

#btn-start:hover {
    letter-spacing: 3px;
    box-shadow: 0px 4px 40px rgb(255, 203, 125);
    transition: 0.8s;
    border: solid 3px var(--white);
}

#animation-roll {
    display: inline-flex;
    overflow: hidden;
    width: 25rem;
    height: 11rem;
}

#animation-roll>p {
    font-family: "Roboto Slab", serif;
    font-size: 10rem;
    font-weight: 600;
    color: var(--celestial-blue);
    animation: scroll 4.5s infinite cubic-bezier(0.95, 0.45, 0.24, 1);
}

/* ---------        ----------- */

/* ESTILOS DE GET STARTED */
#HOMEPAGE {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pps {
    text-align: center;
    width: 40vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    color: #000000;
}

.ps {
    text-align: center;
    width: 40vw;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    color: #752912;
}

#p-cnt {
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glow {
    padding: 40px;
    text-align: center;
    font-size: 3rem;
    color: #000;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
}

#asd {
    width: 40vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: contain;
    background-image: url("img/cb074141-d64e-4dfa-8754-09b15dabd17e.jpg");
}

.grad {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40vw;
    height: 100vh;
    background-size: cover;
    background: var(--greyblue);
    background: linear-gradient(90deg, var(--greyblue) 0%, #1e28513c 58%);
}

.grad .flotantes:nth-child(odd) {
    margin: 0 0 0 300px;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.flotantes:nth-child(even) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 0px 0 0px;
    justify-self: flex-end;
}

.flotantes>p {
    animation: float 4s infinite;
    font-size: 2rem;
    text-shadow: 0px 0px 10px var(--byzantine-blue);
}

#DALU {
    font-style: normal;
    font-family: "Roboto Slab",
        serif;
    text-shadow: 0px 0px 10px var(--medium-blue);
}

#sec-hp {
    padding: 50px;
    width: 100vw;
    height: 110vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card-sec-hp {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-sec-hp>p {
    font-size: 1.3rem;
    text-align: center;
    text-wrap: balance;
    padding: 20px;
}

.shadow-svg {
    width: 10vw;
    height: auto;
    filter: drop-shadow(0px 0px 3px var(--french-blue)) contrast(150%);
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.h3-sec-hp {
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--celestial-blue);
}

.h3-sec-hp::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: rgb(107, 57, 17);
    border-radius: 10px;
}

#txt-cnt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

#txt-cnt p {
    font-size: 2rem;
}

.txt-grad {
    font-style: normal;
    padding: 0px;
    text-align: center;
    font-size: 4rem;
    color: var(--celestial-blue);
    font-weight: 600;
    text-wrap: balance;
    font-family: "Roboto Slab", serif;
}

.txt-grad::after {
    content: "";
    display: block;
    background-color: #752912;
    height: 15rem;
    width: 8px;
    border-radius: 10px;
    transform: translateX(400px) translateY(-10rem);
}

#card-cont {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* ---------        ----------- */
/* SING IN CARD */
#singin-card {
    background-image: url("../Resources/Diseño\ sin\ título.svg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

#container-grad {
    background: rgb(10, 0, 131);
    background: linear-gradient(-90deg,
            rgba(10, 0, 131, 1) 0%,
            rgba(21, 0, 131, 0.8587885837928921) 43%,
            rgba(34, 0, 130, 0) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#cnt1 {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: 30vw;
    height: 20vw;
    padding: 5px;
    background: rgb(58, 0, 135);
    background: linear-gradient(28deg,
            rgba(58, 0, 135, 0.8335784997592788) 0%,
            rgba(61, 232, 255, 0.8475841020001751) 100%);
    border-radius: 15px;
    transform: skewY(3deg) skewX(3deg);
    backdrop-filter: blur(5px);
    border-bottom: solid 3px #6034ff;
    border-left: solid 3px #6034ff;
    border-top: solid 1px #6034ff91;
    border-right: solid 1px #6034ff91;
}

#cnt1-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#logo-- {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logo-- img {
    filter: invert(1) drop-shadow(0px 0px 5px #000);
}

#logo-- p {
    font-family: "  font-family: " Roboto Slab", serif;";
    text-shadow: 0px 0px 5px #000;
}

.custom-shape-divider-bottom-1700610922 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700610922 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1700610922 .shape-fill {
    fill: #370c76bd;
}

#cnt2 {
    width: 50vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#cnt2-2 {
    width: 30vw;
    height: 80vh;
    border-radius: 10px;
    background: rgb(110, 0, 255);
    background: linear-gradient(229deg,
            rgba(110, 0, 255, 0.4105100658427433) 35%,
            rgba(61, 210, 255, 0.4245156680836397) 100%);
    border: 2px solid rgb(19, 0, 164);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0px 0px 40px #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: scale-down;
}

#cnt2-2 h3 {
    font-style: normal;
}

#sng-frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}

.circles {
    align-self: flex-end;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}

.c1 {
    background-color: rgba(255, 0, 0, 0.604);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.c2 {
    background-color: rgb(242, 255, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateX(-10px);
    z-index: -100;
}

#chip {
    margin-left: 20px;
    align-self: start;
    background-color: rgb(234, 183, 16);
    width: 40px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#chip>span {
    background-color: #000000ab;
    width: 100%;
    height: 1px;
}

#cnt1-1 span {
    text-shadow: 0px 0px 3px gray;
}

.neon {
    text-shadow: 0px 0px 10px var(--columbia-blue);
}

/* ------------  ------------- */
#sng-frm {
    font-family: "Segoe UI", sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

#sng-frm input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 300px;
}

#sng-frm label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}

#sng-frm :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(0.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e800;
}

#sng-frm :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

footer {
    background-image: url('../Resources/Diseño\ sin\ título.svg');
    width: 100vw;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

.slidess {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider-container {
    width: 80vw;
    position: relative;
}

.slider {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.but {
    padding: 10px;
    bottom: 40vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    position: absolute;
    width: 100%;
    height: 80vh;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    border-radius: 12px;
}

.slide.active {
    opacity: 1;
}

button {
    border: none;
    background-color: #fff;
    padding: 2px;
    border-radius: 50%;
    color: #000;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.degrad {
    width: 100%;
    height: 100%;
    background: rgb(10, 0, 131);
    background: linear-gradient(-90deg,
            rgba(10, 0, 131, 1) 0%,
            rgba(21, 0, 131, 0.8587885837928921) 43%,
            rgba(34, 0, 130, 0) 100%);
}

.socials {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-list {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    list-style: none;
    width: 3rem;
    height: 3rem;
}

.icon img {
    width: 100%;
    height: auto;
    filter: invert(1);
}

#myButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}